{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<center><h2 style = "font-family : 'Monotype Corsiva' ; color : #E6120E
 ; font-weight : bold;margin-top:2%">Nosotros</h2></center><hr>
<section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6">
                         <img src="{% static 'images/gym4.jpg' %}" style="height:350px;width:97%">
                    </div>
                         <div class="col-md-6">
                         <p style="color:blue;font-size:22px;font-family:cursive"> Todos sabemos que la salud es una riqueza. No necesitamos un coche lujoso, 
                              un apartamento grande, un médico.
                              grado sin una salud. Estar saludable es una primera cosa que debemos tener en cuenta.
                              Porque la mayoría de las veces nuestra actitud depende de cómo nos sentimos. Estar saludable y en forma
                              nos da energía para hacer cualquier cosa. La buena forma física es muy necesaria para una vida sana y
                              vida libre de tensión. La aptitud física incluye dieta, ejercicio y sueño. Estos tres básicos
                              las cosas tienen su propia importancia en la vida de cada individuo y cada uno debe ser
                              sensible con respecto a estos para una vida saludable.
</p>
                    </div>


               </div>
          </div>
     </section>
{% endblock %}